@import "tailwindcss";

body{
    font-family: 'Inter'
    }
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation */
#hamburger span {
  transition: all 0.3s ease;
  transform-origin: center;
}

.hamburger-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-active span:nth-child(2) {
  opacity: 0;
}

.hamburger-active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

